/*
 * Overrides for the lightbox script (deprecated).
 */

#gallery {
	box-sizing: border-box;
	margin: 0px 0px 10px 0px;
	display: block;
	z-index: -100;
}

#gallery a {
	display: inline-block;
	overflow: hidden;
}

#gallery img {
	display: inline-block;
	overflow: hidden;
	margin: 5px 6pt 5px 0px;
	padding: 3px;
	background-color: #fff;
	border-radius: 3px;
}

#gallery .gallery-advice {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    margin: 20px 0px;
    color: #001040;
    font-size: 10pt;
    font-weight: normal;
}

.lightbox {
	display: grid;
	grid-template-rows: auto;
	position: fixed;
	top: 50px !important;
	left: 200px !important;
	width: unset;
	height: unset;
	text-align: left;
}

.lightbox-caption {
	font-weight: 300;
	margin: 5px 0px;
	padding-top: 5px;
}

.lightbox-teaser {
	font-size: 16pt;
	font-weight: normal;
	margin: 0px;
}

.lightbox-teaser p {
	margin: 0px 0px 10px 0px;
}

.lightbox-teaser a {
}

.lightbox .lb-image {
	width: auto !important;
	height: calc(100vh - 206pt) !important;
	border-radius: 6pt;
}

.lb-outerContainer {
	justify-self: start;
	overflow: hidden;
	width: unset !important;
	height: unset !important;
	margin: 0px auto 0px 0px;
	border-radius: 5px;
}

.lb-container {
	overflow: hidden;
	width: unset;
}

.lb-nav {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.lb-nav a.lb-prev, .lb-nav a.lb-next {
	width: 49%;
}

.lb-dataContainer {
	justify-self: start;
	overflow: hidden;
	width: unset !important;
	height: unset !important;
	margin: 0px auto 0px 0px;
}

.lb-data {
	display: inline-block;
	overflow: hidden;
}

.lb-data .lb-caption {
	display: grid;
	grid-template-columns: 160px 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"caption caption"
		"exif camera-info";
	overflow: hidden;
	line-height: unset;
}

.lb-caption > .caption {
	grid-area: caption;
	justify-self: start;
	color: #fff;
}

.lb-data .lb-details {
	display: grid;
	grid-template-rows: auto;
	overflow: hidden;
	width: unset !important;
	float: unset !important;
}

.lb-data .lb-number {
	display: unset !important;
	clear: unset !important;
}

.lb-closeContainer {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: hidden;
}

.lb-closeContainer a.lb-close {
}

.exif-data {
	grid-area: exif;
	display: grid;
	grid-template-columns: 1fr 1fr;

	border-radius: 5px;
	margin: 10px 10px 10px 0px;
	padding: 10px;
	overflow: hidden;
	color: #000000;
	font-family: rational_integer_regular, verdana, arial, sans-serif;
	font-size: 10pt;

	-webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.5);
	border: #95927b inset 1px;

	background: #d9d5b9; /* Old browsers */
	background: -moz-linear-gradient(top, #d9d5b9 0%, #938c55 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d9d5b9 0%,#938c55 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d9d5b9 0%,#938c55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d5b9', endColorstr='#938c55',GradientType=0 ); /* IE6-9 */
}

.exif-data div:nth-child(odd)  {
	justify-self: start;
}

.exif-data div:nth-child(even)  {
	justify-self: end;
}

.exif-data .caption {
	font-size: 8pt;
}

.camera-info {
	grid-area: camera-info;
	justify-self: start;
	display: inline-grid;
	grid-template-columns: 1fr 3fr;
	border-radius: 5px;
	margin: 10px 0px;
	padding: 5px;

	overflow: hidden;
	color: #000000;
	font-family: rational_integer_regular, verdana, arial, sans-serif;
	font-size: 10pt;
	text-align: center;

	-webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.5);
	border: #95927b inset 1px;

	background: #bacdd8; /* Old browsers */
	background: -moz-linear-gradient(top, #bacdd8 0%, #547a91 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #bacdd8 0%,#547a91 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #bacdd8 0%,#547a91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bacdd8', endColorstr='#547a91',GradientType=0 ); /* IE6-9 */
}

.dummy {
	grid-area: dummy;
}

.camera-info .center {
	justify-self: start;
	text-align: center;
	margin: 5px;
}

.camera-info .caption {
	white-space:nowrap;
}

img.camera {
	height: 50px;
}

img.lens {
	height: 50px;
}
