/*
 * Extra css for the photostory.
 */

.photostory {
	text-align: left;
	padding: 5px;
}

.photostory:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0px;
}

.photostory p,
.photostory ul {
	margin: 0px 0px 10px 0px;
}

.photostory .left {
	float: left;
	margin: 0px 10px 10px 0px;
}

.photostory .right {
	float: right;
	margin: 0px 0px 10px 10px;
}

.photostory #map iframe {
	border: 0px;
	border-radius: 6px;
}