/*
 * Central style sheet for rss feed rendering.
 */


/*
 * Fonts
 */

/*@font-face {
    font-family: 'technoid_one';
    src: url('../font/technoid-webfont.eot');
    src: url('../font/technoid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/technoid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
	font-family: 'rational_integer_regular';
	src: url('../font/ratio___-webfont.eot');
	src: url('../font/ratio___-webfont?#iefix') format('embedded-opentype'),
		url('../font/ratio___-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pixel';
	src: url('../font/04b03.ttf.eot');
	src: url('../font/04b03.ttf?#iefix') format('embedded-opentype'),
		url('../font/04b03.ttf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*
 * Base
 */

html, body {
	margin: 0px;
	padding: 0px;
	display: block;
	overflow: hidden;
	font-family: verdana, arial, sans-serif;
	color: #001040;
	max-width: 100vw;
}

body {
	background:  #000055 top left no-repeat;
	background-size: cover;
}

a {
	color: #aaccff;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4 {
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

/*
 * The main page grid.
 */

#main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px 1fr;
	grid-template-areas:
		"header"
		"content";
	width: calc(100vw - 20px);
	height: calc(100vh - 20px);
	margin: 10px;
	float: middle;
	overflow: hidden;
	background-color: rgba(200, 200, 200, 0.5);
	text-align: left;
}

#sidebar {
	grid-area: sidebar;
}

#content {
	grid-area: content;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0px;
	padding: 10px 20px;
}

/*
 * Common
 */

.led {
	color: transparent;
	width: 20px;
	height: 20px;
}

#homepage {
	width: 800px;
	margin: 0px;
}

#homepage h1 {
	text-align: left;
}

#homepage img {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

#homepage .caption {
	margin: 10px 0px 0px 0px;
	padding: 5px;
	font-size: 12pt;
	text-align: center;
}

#homepage .camera-infos {
	margin: 5px auto 0px auto;
	padding: 5px;
	border-top: 1px solid #555;
	font-size: 10pt;
	color: #aaa;
}

.webcam {
	padding: 10px 5px;
}

.amiga500 {
	width: 800px;
	height: 621px;
	background: transparent url(../images/Amiga500.png) top left no-repeat;
}

@keyframes blink {
   50% { border-color: #ff0000; }
}

.guru-meditation {
	position: relative;
	left: 230px;
	top: 130px;
	width: 250px;
	color: red;
	font-family: pixel;
	font-size: 6pt;
	font-weight: normal;
	text-align: center;
	border: 3px solid black;
	padding:3px;

    animation-name: blink ;
    animation-duration: .5s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ;
}

.legalstuff {
	background-color: #ffffff;
	color: #000000;
	padding: 5px;
	font-family: verdana, arial, sans-serif;
}

.legalstuff a {
	color: #ff0000;
	font-weight: bold;
}

.legalstuff a:hover {
	color: #000000;
}

.legalstuff h1 {
	font-size: 14pt;
	margin: 10px 0px 0px 0px;
	padding-left: 40px;
	text-indent: -30px;
}

.legalstuff h2 {
	font-size: 12pt;
	margin: 10px 0px 0px 0px;
	padding-left: 40px;
	text-indent: -30px;
}

.legalstuff h3 {
	font-size: 11pt;
	margin: 10px 0px 0px 0px;
	padding-left: 40px;
	text-indent: -30px;
}

.legalstuff p {
	margin: 5px 0px 10px 10px;
}

.legalstuff address {
	margin: 5px 0px 10px 10px;
}

.legalstuff .disclaimer {
	font-size: 10pt;
	margin-top:20px;
	border-top: 1px solid black;
}

#links a {
	color: #fff6c6;
}

#links a:hover {
	color: #fff;
}

/*
 * Header
 */

#header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 150px;
	grid-template-rows: 120px 50px;
	grid-template-areas:
		"header-top header-top"
		"header-breadcrumb header-rss";
	width: 100%;
	height: 170px;
	overflow: hidden;
}

.header_de {
	background:  #0000ff top left repeat-x;
}

.header_en {
	background:  #0000ff top left repeat-x;
}

#header_top {
	grid-area: header-top;
	overflow: hidden;
	font-size: 18pt;
	color: #fff;
}

#header_top a {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}

#breadcrumb {
	height: 50px;
	grid-area: header-breadcrumb;
	padding-left: 10px;
	background-color: rgba(255, 255, 255, 0.7);
}

#rss_feed {
	grid-area: header-rss;
}

#rss_feed {
	overflow: hidden;
	padding: 10pt 0px 0px 21px;
	background: rgba(255, 255, 255, 0.7) url(../images/news.png) 0px 12pt no-repeat;
}

#rss_feed a {
	font-size: 12pt;
	font-weight: bold;
	color: #023467;
	vertical-align: top;
}


@media (min-width: 766pt) {
	#header {
		grid-area: header;
		display: grid;
		grid-template-columns: 1fr 100px;
		grid-template-rows: 130px 20px;
		grid-template-areas:
			"header-top header-top"
			"header-breadcrumb header-rss";
		width: 100%;
		height: 150px;
		overflow: hidden;
	}

	.header_de {
		background:  #0000ff top left repeat-x;
	}

	.header_en {
		background:  #0000ff top left repeat-x;
	}

	#breadcrumb {
		height: 20px;
		grid-area: header-breadcrumb;
		padding-left: 10px;
		background-color: rgba(255, 255, 255, 0.7);
	}

	#rss_feed {
		overflow: hidden;
		padding: 0px 0px 0px 21px;
		background: rgba(255, 255, 255, 0.7) url(../images/news.png) 0px 2px no-repeat;
	}

	#rss_feed a {
		font-size: 9pt;
		font-weight: bold;
		color: #023467;
		vertical-align: top;
	}
}
