$def with (resourcesRoot, theme, comments, metaKeywords, head, content, lang, siteUrl)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
$:comments
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="keywords" content="$:metaKeywords"/>
    <title>Trancefer to Hamburg</title>
$:head
    <link href="/$resourcesRoot/theme/$theme/css/style_rss.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="main">
      <header id="header" class="header_$lang">
        <section id="header_top">
          <a href="/?lang=$lang" alt="Homepage" title="Homepage"></a>
        </section>
      </header>
      <main id="content">
        $:content
      </main>
    </div>
  </body>
</html>
